html,body{
    height:100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666
}
.img1{

    background-image: url("coping-with-depression-a-guide-to-good-treatment-1440x810.jpg");
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img2{

    background-image: url("women2.jpg");
    min-height: 90%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img3{

    background-image: url("woman-3.png");
        min-height: 90%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mtext1{
    position: absolute;
    top: 30%;
    width:100%;
    height: fit-content;
    color:black;
    text-align: center;
    font-size: 27px;
    letter-spacing: 20px;
    text-transform: uppercase;
    align-items: flex-end;
    font-size: xx-large;
    right: 5%;
    
    
}
.btext1{
    background: #52786e;
    color:white;
    padding:10px;
}
.section{
    padding:10px 80px;
    text-align: center;
}
.section-light{
    background-color: rgb(51, 73, 74);
    color:white;
}
.mtext2{
    position: absolute;
    top: 450px;
    width:100%;
    color:black;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    
}
.btext2{
    background: #3e3b3b;
    color:white;
    padding:10px;
}
.mtext3{
    position: absolute;
    top:515px;
    width:100%;
    color:black;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    
}
.btext3{
    background: #3b3e3d;
    color:white;
    padding:10px;
}

.section-dark{
    background-color: #666;
    color:white;
}
.section-darker{
    background-color: rgb(93, 58, 58);
    color: white;
}